@model WebApplication2.Models.Post
@{
    ViewData["Title"] = "Добавить пост";
}

<div class="container">
    <div class="col-md-7 mx-auto">
        <h2 class="text-center">Добавить пост</h2>

        <form method="post" asp-action="AddPost" asp-controller="Blog">
            <div class="form-group">
                <label for="Title">Заголовок</label>
                <input type="text" class="form-control" id="Title" name="Title" asp-for="Title" required>
            </div>
            
            <div class="form-group">
                <label for="Content">Контент</label>
                <textarea type="text" class="form-control" id="Content" name="Content" asp-for="Content" required></textarea>
            </div>
            
            <div class="form-group">
                <label for="Title">Автор</label>
                <input type="text" class="form-control" id="Author" name="Author" asp-for="Author" required>
            </div>
            
            <button type="submit" class="btn btn-primary">Добавить пост</button>
            
        </form>
    </div>
</div>
