@model WebApplication2.Models.Post

@{
    ViewData["Title"] = "Редактируем пост";
}


<div class="container">
    <div class="col-md-7 mx-auto">
        <h2 class="text-center">Редактировать пост</h2>

        <form method="post" asp-action="Edit" asp-controller="Blog">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CreatedAt" />
            <div class="form-group">
                <label for="Title">Заголовок</label>
                <input type="text" class="form-control" id="Title" name="Title" asp-for="Title" required>
            </div>

            <div class="form-group">
                <label for="Content">Контент</label>
                <textarea type="text" class="form-control" id="Content" name="Content" asp-for="Content" required></textarea>
            </div>

            <div class="form-group">
                <label for="Title">Автор</label>
                <input type="text" class="form-control" id="Author" name="Author" asp-for="Author" required>
            </div>

            <button type="submit" class="btn btn-primary">Сохранить изменения</button>

        </form>
    </div>
</div>